{% extends 'base.html' %}

{% block head %}
    <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
    <link
        href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet"
    />
    <link
        href="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css"
        rel="stylesheet"
    />
{% endblock %}


{% block content %}
<style>h1, h2, h3, h4, h5, h6 { font-family: 'Inter', sans-serif; --font-sans: 'Inter'; }
</style>
<style>body { font-family: 'Inter', sans-serif; --font-sans: 'Inter'; }
</style>
<div class="flex flex-col items-center justify-center h-screen bg-gray-100">
  <div class="p-6 bg-white rounded-lg shadow-md">
    <h1 class="text-2xl font-bold mb-4">Document Scanner</h1>
    <div class="mb-6 text-center text-gray-500">
      <p>Easily scan and upload your documents with our powerful document scanner.</p>
    </div>
    <form id='form'
      hx-encoding='multipart/form-data'
      hx-post='/upload'
      hx-swap="none">
      <input type="file" name="files" class="filepond" required>
      <div class="flex flex-col space-y-4">
          <progress id='progress' value='0' max='100' class="w-full h-2.5 rounded-full" style="display: none;"></progress>
          <div id="spinner" class="inline-flex items-center justify-center">
            <span class="loader" style="display: none;"></span>
          </div>
          <button class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-gray-100 hover:text-accent-foreground h-10 px-4 py-2 transition-transform duration-300 hover:scale-105"
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="mr-2 h-5 w-5"
          >
            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
            <polyline points="17 8 12 3 7 8"></polyline>
            <line x1="12" x2="12" y1="3" y2="15"></line>
          </svg>
          Upload Photos
        </button>
    </form>
  </div>
</div>

<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.js"></script>
<script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>

<script>
  const inputElement = document.querySelector('input[type="file"]');
  
  FilePond.registerPlugin(
    FilePondPluginImagePreview,
    FilePondPluginImageExifOrientation,
    FilePondPluginFileValidateType,
    FilePondPluginImageEdit
  );

  const pond = FilePond.create(inputElement, {
    allowMultiple: true,
    allowReorder: true,
    storeAsFile: true,
    acceptedFileTypes: ["image/jpg", "image/jpeg", "image/jp2", "image/png", "image/bmp", "image/tiff", "image/tif"],
    credits: false
  });
</script>

<script>
  htmx.on('#form', 'htmx:xhr:loadstart', function(evt) {
    htmx.find('#progress').style.display = 'block'
    htmx.find('.loader').style.display = 'block'
  });

  htmx.on('#form', 'htmx:xhr:progress', function(evt) {
    htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
  });

  htmx.on('#form', 'htmx:afterRequest', function(evt) {
    htmx.find('#progress').style.display = 'none'
    htmx.find('.loader').style.display = 'none'
  });
</script>
{% endblock %}